figure {
    width: auto;
}

figure.fullWidth {
}

svg {
}

div.schematic_wrapper {
    width: auto;
    height: 800px;
    background: red;
}

svg.schematic {
    position: absolute;
    background: #ddd;

    width: 100%;
    height: 100%;
}

svg.schematic * {
    vector-effect: non-scaling-stroke;
}
